#!/bin/bash
# Run all the pi-server cron scripts

if [ -e '{{ pi_server_legacy_cron_disabled }}' ]; then
    # Cron script disabled
    exit 0
fi

# Run scripts that need services to be paused
if [ -x '{{ pi_server_legacy_cron_safe_script }}' ]; then
    '{{ pi_server_legacy_cron_safe_script }}'
fi

# Run all other cron scripts
find '{{ pi_server_legacy_cron_normal_dir }}' -type f -executable | LC_ALL=C sort | while read -r line; do
    "${line}"
done
