# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

services:
  traefik_docker_proxy:
    image: tecnativa/docker-socket-proxy
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - traefik_docker_proxy
    environment:
      CONTAINERS: 1
    deploy:
      replicas: 1

  traefik:
    image: "traefik:v2.6"
    restart: always
    user: "{{ traefik_user.uid }}:{{ traefik_user.group }}"
    volumes:
      - "{{ pi_server_apps_traefik_config }}:/etc/traefik/traefik.yml"
{% if ports %}
    ports:
{% for port in ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
    networks:
      - "{{ pi_server_apps_traefik_network }}"
      - traefik_docker_proxy
    deploy:
      replicas: 1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.entrypoints={{ pi_server_apps_control_panel_entrypoint }}"
      - "traefik.http.routers.dashboard.rule=PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
      - "traefik.http.routers.dashboard.service=api@internal"

networks:
  traefik_docker_proxy:
    driver: bridge
    internal: true
  {{ pi_server_apps_traefik_network}}:
    external: true
