# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

tls:
  stores:
    default:
      defaultCertificate:
        certFile: "{{ pi_server_apps_traefik_https_cert_mount_point }}"
        keyFile: "{{ pi_server_apps_traefik_https_key_mount_point }}"
