# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

global:
  checkNewVersion: false
  sendAnonymousUsage: false

api:
  dashboard: true

pilot:
  dashboard: false

metrics:
  prometheus:
    entryPoint: traefik_metrics

providers:
  docker:
    endpoint: "tcp://traefik_docker_proxy:2375"
    network: "{{ pi_server_apps_traefik_network }}"
    exposedByDefault: false
  file:
    directory: "/etc/traefik/discovery.d"
    watch: true

entrypoints:
  traefik_metrics:
    address: ":{{ pi_server_apps_traefik_metrics_port }}"
{% for line in entrypoint_lines %}
  {{ line }}
{% endfor %}
