#!/bin/bash
# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN
# Send an email when the network connects; intended to monitor reboots

LAN_IFACE='{{ pi_server_lan_iface }}'

if [ -n "${LAN_IFACE}" ] && [ "${IFACE}" = "${LAN_IFACE}" ]; then
    ( sleep 1m; '{{ pi_server_apps_email_script }}' "Connected to network" "$(uptime)" ) &
fi

exit 0
