#!/bin/bash
# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

set -eu

COMMAND_FILE='{{ pi_server_apps_shutdownd_command_file }}'

echo "waiting" >"${COMMAND_FILE}"

while inotifywait -q -e close_write "${COMMAND_FILE}"; do
    COMMAND="$(cat "${COMMAND_FILE}")"
    if [ "${COMMAND}" = 'reboot' ]; then
        echo 'Rebooting'
        sudo reboot
        exit 0
    elif [ "${COMMAND}" = 'shutdown' ]; then
        echo 'Shutting down'
        sudo shutdown -h now
        exit 0
    else
        echo 'Got unknown command'
    fi
done
