# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

{{ pi_server_apps_shutdownd_user }} {{ pi_server_hostname }} = (root) NOPASSWD: /sbin/shutdown -h now
{{ pi_server_apps_shutdownd_user }} {{ pi_server_hostname }} = (root) NOPASSWD: /sbin/reboot ""
