# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN
FROM python:3.10-bullseye
COPY shutdownd-ui /shutdownd-ui
ENV PYTHONUNBUFFERED=t
EXPOSE {{ pi_server_apps_shutdownd_ui_port }}
ENTRYPOINT ["/shutdownd-ui"]
