ansible==8.5.0
ansible-lint==6.21.1
black==23.10.1
codetiming==1.4.0
cryptography==41.0.5
flake8==6.1.0
isort==5.12.0
mypy==1.6.1
pylint==3.0.2
pytest-testinfra==9.0.0
python-vagrant==1.0.0
pytidylib==0.3.2
pyyaml==6.0.1
requests==2.31.0
selenium==4.14.0
trparse==0.3.0
types-pyyaml==6.0.12.12
types-requests==2.31.0.10
types-selenium==3.141.9
