[Unit]
Description=Pi Server shutdown daemon
After=network.target

[Service]
ExecStart=@@@@@1@@@@@
Restart=always
User=shutdownd
Group=shutdownd
Environment=PYTHONUNBUFFERED=t

[Install]
WantedBy=multi-user.target
