# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

# Path to the directory you want scanned for media files.
#
# This option can be specified more than once if you want multiple directories
# scanned.
#
# If you want to restrict a media_dir to a specific content type, you can
# prepend the directory name with a letter representing the type (A, P or V),
# followed by a comma, as so:
#   * "A" for audio    (eg. media_dir=A,/var/lib/minidlna/music)
#   * "P" for pictures (eg. media_dir=P,/var/lib/minidlna/pictures)
#   * "V" for video    (eg. media_dir=V,/var/lib/minidlna/videos)
#
# WARNING: After changing this option, you need to rebuild the database. Either
#          run minidlna with the '-R' option, or delete the 'files.db' file
#          from the db_dir directory (see below).
#          On Debian, you can run, as root, 'service minidlna force-reload' instead.
media_dir={{ pi_server_apps_minidlna_media_dir }}

db_dir={{ pi_server_apps_minidlna_db_dir }}
log_dir=/var/log
log_level=warn
root_container=B
network_interface={{ pi_server_lan_iface }}
port={{ pi_server_apps_minidlna_http_port }}

friendly_name=Raspberry Pi
serial=12345678
model_name=Raspberry Pi (MiniDLNA)
model_number=1

inotify=yes
album_art_names=Cover.jpg/cover.jpg/AlbumArtSmall.jpg/albumartsmall.jpg/AlbumArt.jpg/albumart.jpg/Album.jpg/album.jpg/Folder.jpg/folder.jpg/Thumb.jpg/thumb.jpg

strict_dlna=no
enable_tivo=no
notify_interval=895
wide_links=yes
