# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

services:
  nginx:
    image: "nginxinc/nginx-unprivileged:stable-alpine"
    restart: always
    user: "{{ args.uid }}:{{ args.gid }}"
    volumes:
      - "{{ args.web_root }}:/usr/share/nginx/html:ro"
    networks:
      - "{{ pi_server_apps_traefik_network }}"
    deploy:
      replicas: 1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx_{{ args.name }}.entrypoints={{ args.entrypoint }}"
      - "traefik.http.routers.nginx_{{ args.name }}.rule=PathPrefix(`/`)"

networks:
  "{{ pi_server_apps_traefik_network }}":
    external: true
