<script type="text/javascript">
  var bootstrapScript = document.createElement("script");
  bootstrapScript.src = "http://" + window.location.hostname + "/bootstrap-{{ pi_server_utils_page_templates_bootstrap_version }}-dist/js/bootstrap.bundle.min.js";
  bootstrapScript.async = false;

  document.body.append(bootstrapScript);
</script>
</body>

</html>
