<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ head_title }}</title>

  <script type="text/javascript">
    document.write('<link rel="apple-touch-icon-precomposed" href="http://' + window.location.hostname + '/favicon-apple.png">');
    document.write('<link rel="icon" href="http://' + window.location.hostname + '/favicon.png">');
    document.write('<link type="text/css" rel="stylesheet" href="http://' + window.location.hostname + '/bootstrap-{{ bootstrap_version }}-dist/css/bootstrap.min.css">');
    document.write('<link type="text/css" rel="stylesheet" href="http://' + window.location.hostname + '/pi.css">');
  </script>

</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <script type="text/javascript">
        document.write('<a class="navbar-brand" href="http://' + window.location.hostname + '/"><img class="logo-image d-inline-block" src="http://' + window.location.hostname + '/favicon.png">{{ body_title }}</a>');
      </script>
    </div>
  </nav>
