<h3>Syncthing</h3>
<ul>
  <li>
    <script language="JavaScript">
      document.write('<a href="https://' + window.location.hostname + ':{{ pi_server_apps_syncthing_web_port }}/">Control panel</a>');
    </script>
  </li>
</ul>
