services:
  prometheus:
    image: prom/prometheus
    ports:
      - "{{ pi_server_apps_monitoring_prometheus_port }}:{{ pi_server_apps_monitoring_prometheus_port }}"
    restart: always
    volumes:
      - "{{ pi_server_apps_monitoring_prometheus_config }}:/etc/prometheus/prometheus.yml:ro"
      - "{{ pi_server_apps_monitoring_prometheus_scrapes }}:/scrapes.d:ro"
      - "{{ pi_server_apps_monitoring_prometheus_rules }}:/rules.d:ro"
      - prometheus-data:/prometheus
    extra_hosts:
      - host.docker.internal:host-gateway

volumes:
  prometheus-data:
