<h3>Monitoring</h3>
<ul>
    <li>
        <a href="/grafana/">Grafana</a>
    </li>
    <li>
        <a href="/prometheus/">Prometheus</a>
    </li>
    <li>
        <a href="/alertmanager/">Alert manager</a>
    </li>
    <li>
        <a href="/cadvisor/">cAdvisor</a>
    </li>
</ul>
