[analytics]
reporting_enabled = false

[security]
disable_gravatar = true

[snapshots]
external_enabled = false

[auth]
disable_login_form = true

[auth.anonymous]
enabled = true

[users]
viewers_can_edit = true

[unified_alerting]
enabled = false

[alerting]
enabled = false
