instance_name = {{ pi_server_hostname }}

[server]
root_url = http://{{ pi_server_lan_ip }}:{{ pi_server_apps_monitoring_grafana_port }}

[analytics]
reporting_enabled = false

[security]
disable_gravatar = true

[snapshots]
external_enabled = false

[dashboards]
default_home_dashboard_path = /etc/grafana/provisioning/dashboards/system.json

[auth]
disable_login_form = true

[auth.anonymous]
enabled = true
org_role = Editor

[unified_alerting]
enabled = false

[alerting]
enabled = false
