[
  {
    "id": "{{ pi_server_apps_monitoring_webhook_id }}",
    "execute-command": "/webhook-alert",
    "pass-arguments-to-command":
    [
      {
        "source": "entire-payload"
      }
    ]
  }
]
