# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN
FROM python:3.10-bullseye
RUN apt-get update && apt-get install -y ssmtp webhook && rm -rf /var/lib/apt/lists/*
COPY webhook.conf /etc/webhook.conf
COPY webhook-alert /webhook-alert
EXPOSE {{ pi_server_apps_monitoring_webhook_port }}
ENTRYPOINT ["/usr/bin/webhook"]
CMD ["-verbose", "-nopanic", "-hooks", "/etc/webhook.conf", "-port", "{{ pi_server_apps_monitoring_webhook_port }}"]
