# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN
# Based on https://github.com/almir/docker-webhook - but that image doesn't
# get built for arm64, so we have to build our own.
FROM        golang:alpine3.11 AS build
WORKDIR     /go/src/github.com/adnanh/webhook
ENV         WEBHOOK_VERSION 2.8.0
RUN         apk add --update -t build-deps curl libc-dev gcc libgcc
RUN         curl -L --silent -o webhook.tar.gz https://github.com/adnanh/webhook/archive/${WEBHOOK_VERSION}.tar.gz && \
            tar -xzf webhook.tar.gz --strip 1 &&  \
            go get -d && \
            go build -o /usr/local/bin/webhook && \
            apk del --purge build-deps && \
            rm -rf /var/cache/apk/* && \
            rm -rf /go

FROM        python:3-alpine
RUN         apk add --no-cache bash ssmtp
COPY        --from=build /usr/local/bin/webhook /usr/local/bin/webhook
COPY        webhook.conf /etc/webhook.conf
COPY        webhook-alert /webhook-alert
EXPOSE      {{ pi_server_apps_monitoring_webhook_port }}
ENTRYPOINT  ["/usr/local/bin/webhook"]
