[
  {
    "id": "{{ pi_server_apps_monitoring_webhook_id }}",
    "execute-command": "{{ pi_server_apps_monitoring_webhook_script }}",
    "pass-arguments-to-command":
    [
      {
        "source": "entire-payload"
      }
    ]
  }
]
