#!/bin/bash
# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN
# Main backup.

set -eu

{{ cron_wrapper_line }}

BACKUP_PATH='{{ pi_server_apps_backup_mount_dir }}'
export RESTIC_CACHE_DIR='{{ pi_server_apps_backup_restic_cache }}'

function warning() {
    echo "WARNING:" "${@}"
}

function error() {
    echo "ERROR:" "${@}"
    exit 1
}

source '{{ pi_server_apps_backup_restic_config }}'

if [ -z "${RESTIC_REPOSITORY}" ]; then
    warning 'no repository specified; nothing to do'
    exit 0
fi

if restic backup "--host=${RESTIC_HOSTNAME}" "${BACKUP_PATH}"; then
    echo 'Backup completed'
else
    error 'backup failed'
fi

if restic forget "--host=${RESTIC_HOSTNAME}" --keep-daily=7 --keep-weekly=4 --keep-monthly=12 --keep-yearly=3; then
    echo 'Forget completed'
else
    error 'forget failed'
fi

if restic prune --cleanup-cache; then
    echo 'Prune completed'
else
    error 'prune failed'
fi

if restic check; then
    echo 'Check completed'
else
    error 'check failed'
fi
