# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

{{ pi_server_apps_backup_git_user }} {{ pi_server_hostname }} = (root) NOPASSWD: /usr/bin/mount {{ pi_server_apps_main_storage_backup_mount_dir }}
{{ pi_server_apps_backup_git_user }} {{ pi_server_hostname }} = (root) NOPASSWD: /usr/bin/umount {{ pi_server_apps_main_storage_backup_mount_dir }}
