# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN
# Leave RESTIC_REPOSITORY blank to disable backups.

export RESTIC_REPOSITORY='{{ pi_server_restic_repository }}'
export RESTIC_PASSWORD='{{ pi_server_restic_password }}'
export RESTIC_HOSTNAME='{{ pi_server_restic_hostname }}'
{% for var_name in pi_server_restic_env.keys() | sort %}
export {{ var_name }}='{{ pi_server_restic_env[var_name] }}'
{% endfor %}
