# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN
# Leave RESTIC_REPOSITORY blank to disable backups.

export RESTIC_REPOSITORY='{{ pi_server_restic_repository }}'
export RESTIC_PASSWORD='{{ pi_server_restic_password }}'
export RESTIC_HOSTNAME='{{ pi_server_restic_hostname }}'
export B2_ACCOUNT_ID='{{ pi_server_restic_b2_account_id }}'
export B2_ACCOUNT_KEY='{{ pi_server_restic_b2_account_key }}'
