# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN
# The first non-comment line in this file is used as the username for boot-time and cron zoneedit. Leave that line blank to disable.
{{ pi_server_zoneedit_username }}
