[Unit]
Description=Aptly server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=vagrant
ExecStart=/usr/bin/aptly serve

[Install]
WantedBy=multi-user.target
