[Unit]
Description=Fake SMTP service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/bin/fake-smtp-server --smtp-port={{ email_smtp_port }}

[Install]
WantedBy=multi-user.target
