#!/bin/bash
# Testbed pi boot script

source '{{ testbed_helper }}'

function setup() {
    # Vagrant's default route is through NAT, delete it first
    ip route del default
    ip route add default via '{{ router_ip }}' dev eth1
}

with-lock setup

exit 0
