<div class="container first-container">
    <div class="row">
        <div class="col">
            <p class="text-center"><img class="center-block main-image" src="/favicon.png" alt="Minecraft"></p>
            <h1>Minecraft</h1>

            <h3>Redstone</h3>
            <ul>
                <li><a href="redstone/gate.jpg">Big gate</a></li>
                <li><a href="redstone/secret-door.jpg">Secret door</a></li>
                <li><a href="redstone/double-piston.jpg">Double-extending pistons</a></li>
                <li><a href="redstone/on-reverse.jpg">Deactivating things in reverse order</a></li>
                <li><a href="redstone/t-flipflop.png">T flipflop</a></li>
            </ul>

            <h3>Other</h3>
            <ul>
                <li><a href="https://minecraft.net/">Game</a></li>
                <li><a href="https://minecraft.fandom.com/wiki/Minecraft_Wiki">Wiki</a></li>
                <li><a href="https://www.chunkbase.com/apps/biome-finder">Biome finder</a></li>
                <li><a href="https://www.plotz.co.uk/">Circle generator</a></li>
                <li><a href="https://donatstudios.com/PixelCircleGenerator">Alternate circle generator</a></li>
            </ul>

        </div>
    </div>
</div>
