#!/bin/sh
# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

set -eu

EMAIL_SCRIPT='{{ pi_server_apps_email_script }}'

"${EMAIL_SCRIPT}" "OpenVPN connection: ${common_name:-} from ${trusted_ip:-}" "Connected at ${time_ascii:-}" &
exit 0
