#!/bin/bash
# Manipulate ports

source '{{ pi_server_apps_firewall_common_script }}' || exit 1
COMMANDS='is-valid|is-open|open|close|opens-at-boot|open-at-boot|dont-open-at-boot'
DEFAULT_PROTOCOL='tcp'

function usage() {
    echo "Usage: $(basename "${0}") ${COMMANDS} port [protocol=tcp|udp]"
    echo "    protocol defaults to ${DEFAULT_PROTOCOL}"
    exit 1
}

function valid-command() {
    local CHECK="${1}"
    if sed 's/|/\n/g' <(echo "${COMMANDS}") | grep "^${CHECK}\$" &>/dev/null; then
        return 0
    else
        return 1
    fi
}

function process-args() {
    # These are deliberately globals
    COMMAND="${1}"
    test -z "${COMMAND}" && usage
    valid-command "${COMMAND}" || usage

    PORT="${2}"
    test -z "${PORT}" && usage
    valid-port "${PORT}" || usage

    PROTOCOL="${3}"
    if [ -z "${PROTOCOL}" ]; then
        PROTOCOL="${DEFAULT_PROTOCOL}"
    fi
    valid-protocol "${PROTOCOL}" || usage

    BOOTFILE="$(open-at-boot-file "${PROTOCOL}")"

    "port-${COMMAND}"
}

function port-is-valid() {
    if valid-port "${PORT}"; then
        echo 'Yes'
        return 0
    fi

    echo 'No'
    return 1
}

function port-is-open() {
    if sudo iptables -C INPUT -p "${PROTOCOL}" --dport "${PORT}" -j ACCEPT &>/dev/null; then
        echo 'Yes'
        return 0
    fi

    echo 'No'
    return 1
}

function port-open() {
    if ! port-is-open &>/dev/null; then
        sudo iptables -I INPUT -p "${PROTOCOL}" --dport "${PORT}" -j ACCEPT
    fi
}

function port-close() {
    sudo iptables -D INPUT -p "${PROTOCOL}" --dport "${PORT}" -j ACCEPT &>/dev/null
}

function port-opens-at-boot() {
    if [ -f "${BOOTFILE}" ]; then
        if grep "^${PORT}\$" "${BOOTFILE}" &>/dev/null; then
            echo 'Yes'
            return 0
        fi
    fi

    echo 'No'
    return 1
}

function port-open-at-boot() {
    if ! port-opens-at-boot &>/dev/null; then
        echo "${PORT}" | sudo tee -a "${BOOTFILE}" &>/dev/null
    fi
}

function port-dont-open-at-boot() {
    if [ -f "${BOOTFILE}" ]; then
        sudo sed -i "/^${PORT}\$/d" "${BOOTFILE}"
    fi
}

process-args "${@}"
