#!/bin/bash
# This script runs at boot to initialise the firewall

source '{{ pi_server_apps_firewall_common_script }}' || exit 1

/sbin/iptables-restore < '{{ pi_server_apps_firewall_iptables_rules }}'

if [ -f '{{ pi_server_apps_firewall_allow_forwarding }}' ]; then
    /sbin/iptables -A FORWARD -j ACCEPT
else
    /sbin/iptables -A FORWARD -j DROP
fi

function do-protocol() {
    local PROTOCOL="${1}"
    # shellcheck disable=SC2155
    local FILE="$(open-at-boot-file "${PROTOCOL}")"

    if [ -f "${FILE}" ]; then
        while read -r port; do
            if valid-port "${port}"; then
                /sbin/iptables -I INPUT -p "${PROTOCOL}" --dport "${port}" -j ACCEPT
            fi
        done < "${FILE}"
    fi
}

do-protocol 'tcp'
do-protocol 'udp'

exit 0
