<!-- MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ args.head_title }}</title>

  <link rel="apple-touch-icon-precomposed" href="/favicon-apple.png">
  <link rel="icon" href="/favicon.png">
  <link type="text/css" rel="stylesheet"
    href="/bootstrap-{{ pi_server_utils_bootstrap_templates_bootstrap_version }}-dist/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="/pi.css">
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img class="logo-image d-inline-block" src="/favicon.png">{{ args.body_title
        }}</a>
    </div>
  </nav>
