# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

services:
  "{{ pi_server_apps_minecraft_server_service }}":
    image: "itzg/minecraft-server:{{ pi_server_apps_minecraft_server_docker_version }}"
    restart: always
    user: "{{ minecraft_user.uid }}:{{ minecraft_user.group }}"
    ports:
      - "{{ pi_server_apps_minecraft_server_port }}:{{ pi_server_apps_minecraft_server_port }}"
    volumes:
      - "{{ pi_server_apps_minecraft_server_data_dir }}:/data"
      - "{{ pi_server_apps_minecraft_server_dynmap_current_dir }}:/dynmap"
      - "{{ pi_server_apps_minecraft_server_config_dir }}:/config:ro"
      - "{{ pi_server_apps_minecraft_server_plugins_dir }}:/plugins:ro"
      - "/etc/timezone:/etc/timezone:ro"
    environment:
      EULA: "TRUE"
      TYPE: "SPIGOT"
      VERSION: "{{ pi_server_apps_minecraft_server_version }}"
      MEMORY: "{{ pi_server_minecraft_server_java_heap_mb }}m"
      ENABLE_ROLLING_LOGS: "true"
      STOP_DURATION: "{{ pi_server_minecraft_server_stop_time_seconds }}"
      COPY_CONFIG_DEST: "/data"
      SYNC_SKIP_NEWER_IN_DESTINATION: "false"
      ENABLE_WHITELIST: "TRUE"
      ENFORCE_WHITELIST: "TRUE"
    stop_grace_period: "{{ pi_server_minecraft_server_stop_time_seconds }}s"
    deploy:
      replicas: 1

  dynmap:
    image: "nginxinc/nginx-unprivileged:{{ pi_server_apps_minecraft_server_nginx_version }}"
    restart: always
    user: "{{ minecraft_user.uid }}:{{ minecraft_user.group }}"
    volumes:
      - "{{ pi_server_apps_minecraft_server_dynmap_dir }}:/usr/share/nginx/html:ro"
    networks:
      - "{{ pi_server_apps_traefik_network }}"
    deploy:
      replicas: 1
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dynmap.entrypoints={{ pi_server_apps_minecraft_site_entrypoint }}"
      - "traefik.http.routers.dynmap.rule=PathPrefix(`/dynmap`)"
      - "traefik.http.routers.dynmap.middlewares=dynmap"
      - "traefik.http.middlewares.dynmap.stripprefix.prefixes=/dynmap"

networks:
  "{{ pi_server_apps_traefik_network }}":
    external: true
