# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

deftemplatesuffix: hires
defaulttilescale: 0

storage:
  type: filetree

components:
  - class: org.dynmap.ClientConfigurationComponent

  - class: org.dynmap.JsonFileClientUpdateComponent
    writeinterval: 1
    sendhealth: false
    sendposition: true
    allowwebchat: false
    webchat-interval: 5
    hidewebchatip: false
    includehiddenplayers: false
    use-name-colors: false
    use-player-login-ip: false
    require-player-login-ip: false
    block-banned-player-chat: true
    hideifshadow: 15
    hideifundercover: 15
    hideifsneaking: false
    webchat-requires-login: false
    webchat-permissions: false
    chatlengthlimit: 256
    hide-if-invisiblity-potion: false
    hidenames: false

  - class: org.dynmap.SimpleWebChatComponent
    allowchat: false
    allowurlname: false

  - class: org.dynmap.MarkersComponent
    type: markers
    showlabel: false
    enablesigns: false
    default-sign-set: markers
    showspawn: true
    spawnicon: world
    spawnlabel: "Spawn"
    showofflineplayers: false
    offlinelabel: "Offline"
    offlineicon: offlineuser
    offlinehidebydefault: true
    offlineminzoom: 0
    maxofflinetime: 30
    showspawnbeds: false
    spawnbedlabel: "Spawn Beds"
    spawnbedicon: bed
    spawnbedhidebydefault: true
    spawnbedminzoom: 0
    spawnbedformat: "%name%'s bed"
    showworldborder: true
    worldborderlabel: "Border"

  - class: org.dynmap.ClientComponent
    type: playermarkers
    showplayerfaces: true
    showplayerhealth: false
    showplayerbody: false
    smallplayerfaces: false
    largeplayerfaces: false
    hidebydefault: false
    layerprio: 0
    label: "Players"

  - class: org.dynmap.ClientComponent
    type: link

  - class: org.dynmap.ClientComponent
    type: coord
    label: "Location"
    hidey: false
    show-mcr: false
    show-chunk: false

display-whitelist: false
renderinterval: 1
renderacceleratethreshold: 60
renderaccelerateinterval: 0.2
tiles-rendered-at-once: 2
usenormalthreadpriority: true
saverestorepending: true
save-pending-period: 900
zoomoutperiod: 30
initial-zoomout-validate: true
tileupdatedelay: 30
enabletilehash: true
hideores: false
better-grass: false
smooth-lighting: true
use-brightness-table: true
block-alias: {}
image-format: jpg-q90
use-generated-textures: true
correct-water-lighting: true
transparent-leaves: true
ctm-support: true
custom-colors-support: true
fetchskins: true
refreshskins: true
skin-url: "http://skins.minecraft.net/MinecraftSkins/%player%.png"
skinsrestorer-integration: false

render-triggers:
  #- playermove
  #- playerjoin
  - blockplaced
  - blockbreak
  - leavesdecay
  - blockburn
  - chunkgenerated
  - blockformed
  - blockfaded
  - blockspread
  - pistonmoved
  - explosion
  #- blockfromto
  #- blockphysics
  - structuregrow
  - blockgrow
  #- blockredstone

tilespath: /dynmap/web/tiles
webpath: /dynmap/web
update-webpath-files: true
exportpath: /dynmap/export
webserver-port: 8123
max-sessions: 30
disable-webserver: true
allow-symlinks: true
login-enabled: false
login-required: false
timesliceinterval: 0.0
maxchunkspertick: 200
progressloginterval: 100
updaterate: 2000
fullrenderplayerlimit: 0
updateplayerlimit: 0
per-tick-time-limit: 50
update-min-tps: 18.0
fullrender-min-tps: 18.0
zoomout-min-tps: 18.0
showplayerfacesinmenu: true
grayplayerswhenhidden: true
player-sort-permission-nodes:
  - bukkit.command.op
sidebaropened: true
trusted-proxies:
  - "127.0.0.1"
  - "0:0:0:0:0:0:0:1"
joinmessage: ""
quitmessage: ""
spammessage: ""
webmsgformat: "&color;2[WEB] %playername%: &color;f%message%"
showlayercontrol: true
check-banned-ips: true
defaultzoom: 0
defaultworld: world
defaultmap: flat
persist-ids-by-ip: true
cyrillic-support: false
round-coordinates: true

msg:
  maptypes: "Map Types"
  players: "Players"
  chatrequireslogin: "Chat Requires Login"
  chatnotallowed: "You are not permitted to send chat messages"
  hiddennamejoin: "Player joined"
  hiddennamequit: "Player quit"

url:
  # configuration URL
  #configuration: "up/configuration"
  # update URL
  #update: "up/world/{world}/{timestamp}"
  # sendmessage URL
  #sendmessage: "up/sendmessage"
  # login URL
  #login: "up/login"
  # register URL
  #register: "up/register"
  # tiles base URL
  #tiles: "tiles/"
  # markers base URL
  #markers: "tiles/"

custom-commands:
  image-updates:
    preupdatecommand: ""
    postupdatecommand: ""

snapshotcachesize: 500
soft-ref-cache: true

enterexitperiod: 1000
titleFadeIn: 10
titleStay: 70
titleFadeOut: 20
enterexitUseTitle: true
enterReplacesExits: false
verbose: false
dump-missing-blocks: false
migrate-chunks: false
hackAttemptBlurb: "(IaM5uchA1337Haxr-Ban Me!)"
