#!/bin/bash
# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

set -eu

DATA_DIR='{{ pi_server_apps_minecraft_server_data_dir }}'
COMPOSE_FILE='{{ pi_server_apps_minecraft_server_compose_file }}'
SERVICE='{{ pi_server_apps_minecraft_server_service }}'

sudo docker-compose -f "${COMPOSE_FILE}" stop "${SERVICE}"

sudo chmod -R o+r "${DATA_DIR}"
tar -cJf "backup-$(date '+%Y-%m-%d').tar.xz" -C "${DATA_DIR}" .

sudo docker-compose -f "${COMPOSE_FILE}" start "${SERVICE}"
