[Unit]
Description=Pi Server podcast manager
After=network.target

[Service]
ExecStart=@@@@@1@@@@@
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
