# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

{{ pi_server_apps_photoprism_indexer_user }} {{ pi_server_hostname }} = (root) NOPASSWD: /usr/local/bin/docker-compose -f {{ pi_server_apps_photoprism_docker_compose }} exec -T photoprism photoprism index --cleanup
