{
    "experimental": true,
    "log-driver": "journald",
    "metrics-addr": "0.0.0.0:{{ pi_server_apps_docker_metrics_port }}",
    "default-address-pools": [
        {
            "base": "{{ pi_server_apps_docker_address_pool_base }}",
            "size": {{ pi_server_apps_docker_address_pool_size }}
        }
    ]
}
