{{ pi_server_apps_updates_user }} {{ pi_server_hostname }} = (root) NOPASSWD: /usr/bin/apt-get update
{{ pi_server_apps_updates_user }} {{ pi_server_hostname }} = (root) NOPASSWD: /usr/bin/apt-get -y upgrade
