#!/bin/bash
# MANAGED BY ANSIBLE, CHANGES WILL BE OVERWRITTEN

set -eu

SCRUB_INFO='{{ pi_server_apps_main_storage_zfs_scrub_info_script }}'

function error() {
    echo "ERROR:" "${@}"
    exit 1
}

function scrape() {
    local OUTPUT_DIR='{{ pi_server_apps_monitoring_node_exporter_collect }}'
    local OUTPUT_FILE="${OUTPUT_DIR}/zfs-exporter.prom"
    local TMP_FILE="${OUTPUT_FILE}.tmp"
    if ! : >"${TMP_FILE}"; then
        error "failed to initialize '${TMP_FILE}'"
    fi

    zpool list -H -o name,health | while read -r name state; do
        if ! echo "zfs_zpool_state{job=\"zfs\", zpool=\"${name}\", state=\"${state}\"} 1" >>"${TMP_FILE}"; then
            error "failed to write state for '${name}' to '${TMP_FILE}'"
        fi
    done

    zfs list -H -p -t snapshot -o name,creation | while IFS=$'@\t ' read -r dataset snapshot timestamp; do
        if ! echo "zfs_snapshot_time{job=\"zfs\", dataset=\"${dataset}\", snapshot=\"${snapshot}\"} ${timestamp}" >>"${TMP_FILE}"; then
            error "failed to write snapshot time for '${dataset},${snapshot}' to '${TMP_FILE}'"
        fi
    done

    local NOW
    local NAME
    local TIMESTAMP
    NOW="$(date +%s)"
    "${SCRUB_INFO}" | grep -E -o '[a-zA-Z0-9_]+_last_ago=-?[0-9]+' | while IFS='=' read -r raw_name time_ago; do
        NAME="${raw_name//_last_ago/}"
        TIMESTAMP=$((NOW - time_ago))
        if ! echo "zfs_scrub_time{job=\"zfs\", zpool=\"${NAME}\"} ${TIMESTAMP}" >>"${TMP_FILE}"; then
            error "failed to write scrub time for '${NAME}' to '${TMP_FILE}'"
        fi
    done

    if mv "${TMP_FILE}" "${OUTPUT_FILE}"; then
        echo "wrote metrics to '${OUTPUT_FILE}'"
    else
        error "failed to write to '${OUTPUT_FILE}'"
    fi
}

scrape

while true; do
    sleep 1m
    scrape
done
